@vw:7.5vw;
.dn {
    display: none;
}
.pg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

// 宽高 
.setwh(@w: 750, @h: 0) {
    width: @w/@vw;
    height: @h/@vw;
}
// 左上
.lt(@l: 0, @t: 0) {
    position: absolute;
    left: @l/@vw;
    top: @t/@vw;
}

//右上
.rt(@r: 0, @t: 0) {
    position: absolute;
    right: @r/@vw;
    top: @t/@vw;
}

//less 定位函数 左下
.lb(@l: 0, @b: 0) {
    position: absolute;
    left: @l/@vw;
    bottom: @b/@vw;
}

//右下
.rb(@r: 0, @b: 0) {
    position: absolute;
    right: @r/@vw;
    bottom: @b/@vw;
}

// 水平居中
.cl(@w) {
    position: absolute;
    left: 50%;
    margin-left: -@w/2/@vw;
}

// 垂直居中
.ct(@h) {
    position: absolute;
    top: 50%;
    margin-top: -@h/2/@vw;
}

html {
    width: 100%;
    height: 100%;
}
body {
    min-width: 750 / @vw;
    max-width: 320 / @vw;
    width: 750 / @vw;
    margin: 0 auto;
    height: 100%;
    background: url(../img/bg.png) no-repeat;
    background-size: 100% 100%;
}

.box {
    width: 100%;
    height: 100%;
   
    overflow-x: hidden;
    .rectangular_wire {
        .setwh(720,1435);
        .cl(720);
        .ct(1435);
    }
    .progress_bar {
        .setwh(456,29);
        .cl(456);
        .ct(29);
        background: url(../img/lod.png) no-repeat;
        background-size: 100% 100%;
        .bar-box {
            .setwh(456,29);
            .lt(0,0);
            overflow: hidden;
            border-radius: 20 / @vw;
            .bar {
                .setwh(456,29);
                position: absolute;
                left: -100%;
                top: -1 / @vw
            }
           
        }
        .lod-sailboatpng {
            .setwh(81,139);
            .lt(0,-139);
        }
        .percent {
            .setwh(75,40);
            .cl(75);
            top: 50 / @vw;
            color: #fff;
            font-size: 28 / @vw;
        }
    }
    //首页
    .home {
        width: 100%;
        height: 100%;
        .rug {
            .setwh(634,503);
            .lt(10,588);
            z-index: 0;
        }
        .weather {
            width: 750 / @vw;
            height: 100%;
            .lt(0,0);
        }
        .house {
            .setwh(333,90);
            .lt(0,520);
        }
        .coco {
            .setwh(173,157);
            .rt(0,424);
        }
        .sailboat {
            .setwh(71,238);
            .lt(0,546);
            animation: move 100s ease-in-out infinite alternate;
        }
        .sunshade {
            .setwh(151,130);
            .rt(0,666)
        }
        .window {
            .setwh(750,882);
            .lt(0,0);
        }
        .cur-l {
            .setwh(221,900);
            .lt(0,0);
        }
        .cur-r {
            .setwh(200,900);
            .rt(0,0);
        }

        .table-lamp {
            .setwh(130,219);
            .lt(37,727);
        }
        .cabinet {
            .setwh(120,173);
            .rt(6,745);
        }
        .blanket {
            .setwh(696,145);
            .cl(696);
            top: 970 / @vw;
        }
        .sofa {
            .setwh(575,345);
            .cl(575);
            top: 730 / @vw;
        }
        .man {
            .setwh(409,257);
            .lt(124,684);
            .person {
                .setwh(409,257);
            }
        }
        .botany {
            .setwh(201,251);
            .rt(0,896);
        }
        .text {
            .setwh(493,129);
            .cl(493);
            top: 1140 / @vw;
        }
        .point {
            .setwh(28,14);
            .cl(28);
            top: 1282 / @vw;
            animation: point 2s infinite;
        }
        .begin-btn {
            .setwh(237,107);
            .cl(237);
            top:1312 / @vw;
            animation: scale 5s infinite alternate;
            img {
                .setwh(237,107);
            }
        }
        .logo {
            .setwh(123,165);
            .cl(123);
            top: 58 / @vw;
        }
        .slogan {
            .setwh(712,334);
            .cl(712);
            top: 256 / @vw;
        }
        
    }
    // 上传页
    .uploading {
      
        .shield-box {
            .setwh(632,746);
            .cl(632);
            top: 237 / @vw;
            .portrait {
                .setwh(576,672);
                .cl(576);
                top: 46 / @vw;
            }
            .shield {
                .setwh(632,746);
                .cl(632);
            }
        }
        .text1 {
            .setwh(408,87);
            .cl(408);
            top: 1075 / @vw;
        }
        .up-btn {
            .setwh(260,107);
            .cl(260);
            top: 1264 / @vw;
            img {
                .setwh(260,107);
            }
        }
    }
    // 检测页
    .detection {
        .mirror-box {
            .setwh(689,801);
            .cl(689);
            top:174 / @vw;
            .mirror {
                .setwh(689,801);
                .cl(689);
            }
        }
        .result-box {
            .cl(481);
            top: 946 / @vw;
            li {
                margin-bottom: 20 / @vw;
            }
            .eye-box {
                .setwh(476,96);
                .eye {
                    .setwh(476,96);
                }
            }
            .nose-box {
                .setwh(474,112);
                .nose {
                    .setwh(474,112);
                }
            }
            .cheek-box {
                .setwh(481,90);
                .cheek {
                    .setwh(481,90);
                }
            }
        }
        .det-btn {
            .setwh(321,86);
            .cl(335);
            top: 1318 / @vw;
            overflow: hidden;
            .detection-btn {
                .setwh(321,107);
            }
        }
    }
    // 公共
    .rectangular_wire {
        .setwh(720,1435);
        .cl(720);
        .ct(1435);
    }
    .logo1 {
        .setwh(97,129);
        .lt(81,74);
    }
    .music {
        .setwh(79,79);
        .rt(58,62);
    }
}
@keyframes move {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(100vw);
    }
}
@keyframes point {
    0% {
      transform: translate(0);
    }
    50% {
      transform: translate(0, 5px);
    }
    100% {
      transform: translate(0);
    }
}  
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}
